{% extends 'base.html' %}
{% block content %}
	<section class="bg-title-page p-t-50 p-b-40 flex-col-c-m" style="background-color:lavender;">
		<h2 class="l-text2 t-center" style="color:black;">
			Contact and Support.
		</h2>
	</section>


	<!-- Content page -->
	<section class="bgwhite p-t-55 p-b-65">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
					<div class="leftbar p-r-20 p-r-0-sm">
						<!--  -->
						<h4 class="m-text14 p-b-7">
							Contact us
						</h4>


					</div>
				</div>

				<div class="col-sm-6 col-md-8 col-lg-9 p-b-50">

					<!-- Product -->
					<div class="row">
						<div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
							<!-- Block2 -->
							<div class="block2">
								<div class="block2-img wrap-pic-w of-hidden pos-relative ">
									<h1>Contact us.</h1>
									<p>Tel: </p></br>
									<p>+ 940-123-4566</p></br>
									<p>or</p></br>
									<p>Reach us throgh the email: </p></br>
									<p>secureecommerce568@gmail.com</p>
									<p>Reach us throgh the Address: </p></br>
									<p>1234 ABC Apt Denton Texas 76210</p>

								</div>


							</div>
						</div>






				</div>
				<!-- ---- row end ------- -->

				<br>
			</div>
		</div>
	</section>

{% endblock content %}