{% load static %}

<!-- Start Footer Section -->
<footer class="footer-section">
  <div class="container relative">

    <div class="sofa-img">
      <img src="{% static 'images/sukuma.png' %}" alt="Image" class="img-fluid">
    </div>

    <div class="row">
      <div class="col-lg-8">
        <div class="subscription-form">
          <h3 class="d-flex align-items-center invisible"><span class="me-1"><img src="{% static 'images/envelope-outline.svg'%}" alt="Image" class="img-fluid"></span><span>Subscribe to Newsletter</span></h3>

          <form action="#" class="row g-3 invisible">
            <div class="col-auto">
              <input type="text" class="form-control" placeholder="Enter your name">
            </div>
            <div class="col-auto">
              <input type="email" class="form-control" placeholder="Enter your email">
            </div>
            <div class="col-auto">
              <button class="btn btn-primary">
                <span class="fa fa-paper-plane"></span>
              </button>
            </div>
          </form>

        </div>
      </div>
    </div>

    <div class="row g-5 mb-5">
      <div class="col-lg-4">
        <div class="mb-4 footer-logo-wrap"><a href="#" class="footer-logo">SWEETILIOUS<span>.</span></a></div>
        <p class="mb-4">At Sweetious, we blend passion and perfection into every confection. With a commitment to quality ingredients and artisanal craftsmanship, we craft delectable treats that capture the essence of sweetness in every bite. Welcome to our bakery, where each creation tells a story of love and dedication to the art of baking.</p>

        <ul class="list-unstyled custom-social">
          <li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
          <li><a href="#"><span class="fa fa-brands fa-twitter"></span></a></li>
          <li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
          <li><a href="#"><span class="fa fa-brands fa-linkedin"></span></a></li>
        </ul>
      </div>

      <div class="col-lg-8">
        <div class="row links-wrap">
          <div class="col-6 col-sm-6 col-md-3">

          </div>

          <div class="col-6 col-sm-6 col-md-3">
            <ul class="list-unstyled">
              <li><a href="/shop">Shop</a></li>
              <!--<li><a href="#">About us</a></li>-->
              <!--<li><a href="#">Sercices</a></li>-->
              <li><a href="/contact/">Contact us</a></li>
            </ul>
          </div>
          <div class="col-6 col-sm-6 col-md-3">
              <ul class="list-unstyled">
                  <li>{{ catergories_li_a }}</li>
              </ul>
          </div>
        </div>
      </div>

    </div>

    <div class="border-top copyright">
      <div class="row pt-4">
        <div class="col-lg-6">
          <p class="mb-2 text-center text-lg-start">Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved.
        </p>
        </div>

        <div class="col-lg-6 text-center text-lg-end">
          <ul class="list-unstyled d-inline-flex ms-auto">
            <li class="me-4"><a href="#">Terms &amp; Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>

      </div>
    </div>

  </div>
</footer>
<!-- End Footer Section -->
