{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block content %}
<style type="text/css">
  input {
    border: 1px solid #ced4da !important;
  }
</style>
<section class="vh-100 bg-image" style="background-color: lavender">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
<div class="container">

  <div class="row d-flex justify-content-center align-items-center h-100">

    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
      <div class="card" style="border-radius: 15px">
        <div class="card-body p-5">
<h1 class="text-uppercase text-center mb-5">{% trans "Confirm E-mail Address!!!" %}</h1>

{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}

<p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>

<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
{% csrf_token %}
    <button class="btn btn-primary" type="submit">{% trans 'Confirm' %}</button>
</form>

{% else %}

{% url 'account_email' as email_url %}

<p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>


{% endif %}
</div>
      </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

{% endblock %}
