{% extends "account/base.html" %} {% load i18n %} {% block head_title %}{% trans
"Sign Out" %}{% endblock %} {% block content %}

<style type="text/css">
  input {
    border: 1px solid #ced4da !important;
  }
</style>

<section
  class="bg-image"
  style="background-color: lavender; padding-bottom: 100px; padding-top:50px"
>
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container">
      <div class="container">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px; background-color: lavender;">
              <div class="card-body p-5">
                <h1 class="text-uppercase text-center mb-5">
                  {% trans "Sign Out" %}
                </h1>

                <p>{% trans 'Are you sure you want to sign out?' %}</p>

                <form method="post" action="{% url 'account_logout' %}">
                  {% csrf_token %} {% if redirect_field_value %}
                  <input
                    type="hidden"
                    name="{{ redirect_field_name }}"
                    value="{{ redirect_field_value }}"
                  />
                  {% endif %}
                  <button type="submit" class="btn btn-primary">
                    {% trans 'Sign Out' %}
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
