{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<style type="text/css">
  input {

    border: 1px solid #ced4da !important;

}
</style>


<section class="vh-100 bg-image" style="background-color: lavender">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
<div class="container">

  <div class="row d-flex justify-content-center align-items-center h-100">

    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
      <div class="card" style="border-radius: 15px">
        <div class="card-body p-5">
    <h1 class="text-uppercase text-center mb-5">{% trans "Set Password" %}</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
    </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
{% endblock %}
