{% extends "account/base.html" %} {% load i18n %} {% load account %}
{% block head_title %}{% trans "Password Reset" %}
{% endblock %} {% block content %}
<style type="text/css">
  input {

    border: 1px solid #ced4da !important;

}
</style>

<section
  class="bg-image"
  style="background-color: lavender; padding-bottom: 100px; padding-top: 50px"
>
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container">
      <div class="container">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="background-color: white">
              <div class="card-body p-5">
                <h1 class="text-uppercase text-center mb-5">{% trans "Password Reset" %}</h1>
                {% if user.is_authenticated %} {% include "account/snippets/already_logged_in.html" %} {% endif %}

                <p>
                  {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
                </p>

                <form
                  method="POST"
                  action="{% url 'account_reset_password' %}"
                  class="password_reset"
                >
                    {% csrf_token %}
                    <div class="row">
                          <div class="col-12">
                            {{ form }}
                          </div>

                    </div></br>

                           <input
                          class="btn btn-primary"
                            type="submit"
                            value="{% trans 'Reset My Password' %}"
                          />


                </form>

                <p>
                  {% blocktrans %}Please contact us if you have any trouble
                  resetting your password.{% endblocktrans %}
                </p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
