{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block content %}
<section class="vh-100 bg-image" style="background-color: lavender">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
<div class="container">

  <div class="row d-flex justify-content-center align-items-center h-100">

    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
      <div class="card" style="border-radius: 15px">
        <div class="card-body p-5">
<h1 class="text-uppercase text-center mb-5">{% trans "Sign Up Closed" %}</h1>

<p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
</div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
{% endblock %}
