{% extends "kagi/base.html" %} {% load i18n %}
{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block content %}

<style type="text/css">
  input {
    border: 1px solid #ced4da !important;
  }
</style>

<section class="vh-100 bg-image" style="background-color: lavender">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
<div class="container">

  <div class="row d-flex justify-content-center align-items-center h-100">

    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
      <div class="card" style="border-radius: 15px">
        <div class="card-body p-5">

      <h1 class="text-uppercase text-center mb-5">{% trans "Sign In" %}</h1>

      {% get_providers as socialaccount_providers %}

      {% if socialaccount_providers %}

      <p>{% blocktrans with site.name as site_name %}Please sign in{% endblocktrans %}</p>

        <div class="socialaccount_ballot">

          <ul class="socialaccount_providers">
            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
          </ul>
          <div class="login-or">{% trans 'or' %}</div>

        </div>

        {% include "socialaccount/snippets/login_extra.html" %}

        {% else %}
          <form method="post">
            {% csrf_token %}
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                        {{ form|crispy }}
                    </div>
                  </div>
                </div></br>

            <a class="btn btn-outline-dark" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            <input class="btn btn-primary" type="submit" value="{% trans 'Login' %}" />
          </form>
          <p>{% blocktrans %}If you have not created an account yet, then please {% endblocktrans %}

          <a href="{% url 'account_signup' %}" class="text-danger"> Sign up</a></p> <br></br>
          {% endif %}
        </div>
      </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
{% endblock %}


