{% extends "kagi/base.html" %} {% load i18n %} {% block content %} 
{{ block.super }}

<section
  class="bg-image"
  style="background-color: lavender; padding-bottom: 100px; padding-top: 50px"
>
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container">
      <div class="container">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="background-color: white">
              <div class="card-body p-5">
                <p class="text-uppercase text-center mb-5">{% trans 'Scan this in your authenticator app:' %}</p>

                <a href="{{ otpauth }}" > {{ qr_svg|safe }} </a>

                <p>
                  {% trans "Or, if you can't scan a QR Code, enter this key as a time-based account:" %}
                  <a href="{{ otpauth }}"><tt>{{ base32_key }}</tt></a>
                </p>

                <p>{% trans 'Then, enter the token it gives you.' %}</p>

                <form method="POST">
                  {% csrf_token %}
                  <div class="form-control">
                     {{ form.as_p }}
                  </div>
                  <br></br>
                  <input
                    type="hidden"
                    name="base32_key"
                    value="{{ base32_key }}"
                  />
                  <button value="backup" name="type" class="btn btn-primary" style="float:right">
                    {% trans 'Submit' %}
                  </button>
                </form>

                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
