{% extends "kagi/base.html" %} {% load i18n %} {% load static %} 
{% load crispy_forms_tags %}
{% block content %} {{ block.super }}

<style>
  
</style>

<section
  class="bg-image"
  style="background-color: lavender; padding-bottom: 100px; padding-top: 50px"
>
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container">
      <div class="container">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="background-color: white">
              <div class="card-body p-5">
                <p class="text text-center mb-5">
                  {% trans 'Please verify one of the authentication methods below.' %}
                </p>

                {% if forms.webauthn %}
                <form id="login-form">
                  {% csrf_token %}
                  <div id="webauthn-error" style="color: red"></div>
                  <div id="webauthn-feature">
                    <button id="login" type="button">
                      {% trans "Tap here to log in with your WebAuthn key" %}
                    </button>
                  </div>
                </form>
                {% endif %} {% if forms.totp %}
                <div class="method totp">
                  <p>{% trans 'Enter an Authenticator (TOTP) Token' %}</p>

                  <form method="post">
                    {% csrf_token %}
                    <div class="form-control">
                      {{  forms.totp }}
                    </div>
                    <button  class="btn btn-sm btn-primary" value="totp" name="type">
                      {% trans 'Submit' %}
                    </button>
                  </form>
                </div>
                {% endif %} {% if forms.backup %}
                <div class="method backup">
                  <p>{% trans 'Use a backup code:' %}</p>

                  <form method="POST">
                    {% csrf_token %}
                    <div class="form-control">
                     {{ forms.backup.as_p }}
                    </div>
                    <button class="btn btn-primary" value="backup" name="type">
                      {% trans 'Submit' %}
                    </button>
                  </form>
                </div>
                {% endif %}

                
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="{% static 'js/webauthn.js' %}"></script>

{% endblock %}
